.home {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.heading {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.uploadButton {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.uploadButton:hover {
  background-color: #45a049;
}

.file-input {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.file-input input[type="file"] {
  display: none;
}

.file-input label {
  display: inline-block;
  background-color: #0070f3;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 200ms;
}

.file-input label:hover {
  background-color: #005cc5;
}

.file-input span {
  font-size: 0.9rem;
}
